.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.brColor{
  background-color: #16171B;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.mLogo{
  padding-left: 7px;
}

.moveCard{
 padding-top: 7rem;
}

.cBody{
  padding-left: 30rem;
  padding-right: 30rem;
  padding-top: 3rem;
}

.cuzCard{
  background-color: #222327;
  height: 25rem;
}

.listCuz{
  border-radius: 7px;
  border-color: #757575;
  background-color: #222327;
  color: white;
}

.cusLi{
  padding-left: 7rem;
  padding-right: 7rem;
}

.signInButton{
  background-color: #BB432C !important; 
  border-color: #BB432C !important;
  width: 15.5rem;
  height: 2rem;
  text-align: center;
}


.enterLogin{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loginBtn{
  width: 100%;
  margin-top: 2rem;
}

.loginINputAndBtn{
  width: 300px;
}

.loginInput ::placeholder{
  color: #222327;
}

.loginSignUp{
  color: white;
  padding-right: 10px;
}